{% extends "meublog/base.html" %}
{% load i18n %}

{% block titulo %} {% trans 'Meu Blog' %} {% endblock %}

{% block conteudo %}
<h1>{% trans 'Meu Blog' %}</h1>
<div>
{% if messages %}
    {% for m in messages %}
        <p>{{ m }}</p>
    {% endfor %}
{% endif %}
</div>
{% for p in posts %}
<h2>
    <a href="{% url 'meublog:detalhar_post' p.slug %}">
        {{ p.titulo }}
    </a>
</h2>
<p class="date">
    {% trans 'Publicado' %} {{ p.publicado }} {% trans 'por' %} {{ p.autor }}
</p>
<p>
    {{ p.corpo|truncatewords:20|linebreaks }}
</p>
{% endfor %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}